$mainColor: #DA6D03;
$mainColorLighter: #FA9129;
$mainColorLightest: #FFAA57;
$mainColorDarker: #B15800;
$mainColorDarkest: #884400;
$secondaryColor: #DA9803;
$inverseColor: #066E87;
$inverseColorLighter: #1D839B;
$inverseColorLightest: #3C92A6;
$inverseColorDarker: #035A6E;
$inverseColorDarkest: #024454;
$complementColor: #02A32C;
$greyColor: #666;
$greyColorLighter: #eee;
$greyColorLightest: #f9f9f9;
$bgColor: #eee;
$bgHoverColor: #e7e7e7;