.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: $sidebarWidth;
    transform: translateX(-100%);
    transition: all .3s cubic-bezier(0, 0, .2, 1);

    span, a {
        display: block;
        outline: none;
        padding: 12px 12px 12px 20px;
        font-weight: bold;
        color: rgba(0, 0, 0, .87);
        text-transform: capitalize;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        transition: background-color .3s cubic-bezier(0, 0, .2, 1);
    }

    a {
        color: $mainColor;

        &:hover {
            background-color: rgba(255, 255, 255, .5);
        }
    }

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    > ul {
        @extend %scroller;
        overflow-y: auto;
        position: absolute;
        top: $menuHeight + $tabsHeight;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 16px;

        ul {
            border-top: 1px solid rgba(0, 0, 0, .1);
            background: rgba(0, 0, 0, .03);
            font-size: 90%;

            span, a {
                padding-top: .5em;
                padding-bottom: .5em;
            }

            span {
                color: rgba(0, 0, 0, .6);
            }

            ul {
                span, a {
                    padding-left: 32px;
                }
            }
        }
    }

    &.open {
        transform: translateX(0);
    }
}