@import '../../variables';
@import '../../colors';

#main-app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: $menuHeight;
    margin: 0;
    padding: 0 8px;
    background: $mainColor;
    color: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .3);

    button {
        height: 48px;
        margin: 0 12px;
        color: inherit;
        text-transform: uppercase;
    }

    .hamburger-menu {
        display: inline-block;
        width: 48px;

        path {
            fill: white;
        }
    }

    .logo {
        margin-left: 12px;
        background: url(#{$root}/img/logo.png) no-repeat 50% 50% / contain;
        display: inline-block;
        width: 46px;
        height: 80%;
    }
    
    .page-name {
        @extend %nowrap-text;
        font-size: 20px;
        font-weight: bold;
        border-left: 1px solid rgba(255, 255, 255, .2);
        margin: 0 24px;
        padding-left: 24px;
    }
    
    > button.active {
        color: $mainColorLightest;
    }

    .filter-button.filtered {
        color: $inverseColorLightest;
    }
}

@media (max-width: $mediumWidth) {
    #main-app-header {
        height: $menuHeightMobile;
    }
}