#main-app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 64px;
  margin: 0;
  padding: 0 8px;
  background: #DA6D03;
  color: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3); }
  #main-app-header button {
    height: 48px;
    margin: 0 12px;
    color: inherit;
    text-transform: uppercase; }
  #main-app-header .hamburger-menu {
    display: inline-block;
    width: 48px; }
    #main-app-header .hamburger-menu path {
      fill: white; }
  #main-app-header .logo {
    margin-left: 12px;
    background: url(chrome-extension://__MSG_@@extension_id__/img/logo.png) no-repeat 50% 50%/contain;
    display: inline-block;
    width: 46px;
    height: 80%; }
  #main-app-header .page-name {
    font-size: 20px;
    font-weight: bold;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 24px;
    padding-left: 24px; }
  #main-app-header > button.active {
    color: #FFAA57; }
  #main-app-header .filter-button.filtered {
    color: #3C92A6; }

@media (max-width: 768px) {
  #main-app-header {
    height: 48px; } }
