/* THE Z */
$z-highest:         1000;
$z-high:             800;
$z-normal:           600;

/* SIZES */
$menuHeight:        64px;
$menuHeightMobile:  48px;
$tabsHeight:        44px;
$sidebarWidth:      300px;
$mediumWidth:       768px;

$gutter-size:       12px;
